@import "../../scss.vars.scss";

.ng_flow_class_wheel {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: $node-paint;
	border: 1px solid rgb(53, 52, 52);
	padding: 10%;
}
:host {
	z-index: 1;
}
