@import "../generic-styles.scss";

.coach {
  position: relative;
  width: 13rem;
  padding: 1rem 1rem;
  max-height: 11rem;
  @extend .rounded-rectangle;
}

.wheels {
  position: absolute;
  bottom: -1rem;
  width: 80%;
  left: 10%;
}
