@import '../../generic-styles.scss';

.ng_flow_class_node {
	overflow: auto;
	@extend .ng_flow_class_rounded-rectangle;
}

.ng_flow_class_wheels {
	position: absolute;
	bottom: -1rem;
	width: 90%;
	left: 5%;
}

:host {
	position: absolute;
}
