@import "../../generic-styles.scss";

.coach {
	width: 15rem;
	height: 18rem;
	overflow: auto;
	@extend .rounded-rectangle;
}

.wheels {
	position: absolute;
	bottom: -1rem;
	width: 90%;
	left: 5%;
}

:host {
	position: absolute;
}
