<div fxLayout="row">
	<input type="text" [(ngModel)]="no" />
	<button (click)="deleteNode(flow)" class="reposition-btn">
		Delete Node
	</button>
</div>
<div style="height:2rem"></div>
<div fxLayout="row">
	<input type="text" [(ngModel)]="from" />
	<input type="text" [(ngModel)]="to" />
	<input type="text" [(ngModel)]="type" />
	<button
		fxFlexAlign="flex-end"
		(click)="drawConnector(flow)"
		class="reposition-btn"
	>
		Draw Connector
	</button>
</div>
<div style="height:2rem"></div>
<div fxLayout="row">
	<button (click)="flow.reCalculateNodePositions()" class="reposition-btn">
		Reposition the flow
	</button>
	<button (click)="flow.reRenderFlow()">
		Rerender Nodes
	</button>
</div>
<div style="height:2rem"></div>
<flow
	[flowData]="nodes"
	(promote)="onPromoteHandler($event)"
	#flow="ngFlow"
	[connectorColor]="'blue'"
	[connectorSize]="2"
></flow>
<router-outlet></router-outlet>
