/* You can add global styles to this file, and also import other style files */
@import "~@angular/cdk/overlay-prebuilt.css";

.desc-panel-backdrop {
	background-color: darken($color: #0000002f, $amount: 0);
}
.desc-panel {
	overflow: auto;
	// max-width: 20rem;
	// max-height: 30rem;
	background-color: white;
}
