.connector {
  background-image: url("/assets/arrow-right.svg");
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 3rem;
}
.w {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
