.connector {
  background-image: url("/assets/arrow-right.svg");
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 3rem;
}
.w {
  margin: 2rem 0;
}
