/* You can add global styles to this file, and also import other style files */
@import "~@angular/cdk/overlay-prebuilt.css";
@import "./src/app/scss.vars.scss";

* {
	box-sizing: border-box;
}

.desc-panel-backdrop {
	background-color: darken($color: #0000002f, $amount: 0);
	z-index: inherit;
}
